<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplikacjaandroid">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikacjaAndroid"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AplikacjaAndroid">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".HistoryAnalysisActivity"
            android:exported="false"
            android:label="@string/title_activity_history_analysis"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".ExpensesActivity"
            android:exported="false"
            android:label="@string/title_activity_expenses"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".ui.AddNewIncomeExpenseActivity"
            android:exported="false"
            android:label="@string/title_activity_add_new_income_expense"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".RevenuesActivity"
            android:exported="false"
            android:label="@string/title_activity_revenues"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".AccountBalanceActivity"
            android:exported="false"
            android:label="@string/title_activity_account_balance"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".ExpensesPlanActivity"
            android:exported="false"
            android:label="@string/title_activity_expenses_plan"
            android:theme="@style/Theme.AplikacjaAndroid" />
        <activity
            android:name=".RevenuesPlanActivity"
            android:exported="false"
            android:label="@string/title_activity_revenues_plan"
            android:theme="@style/Theme.AplikacjaAndroid" />


    </application>

</manifest>